.meeting-list-item {
  padding: 20px;
  background: white;
  display: flex;
}

@media (min-width: 600px) {
  .meeting-list-item {
    margin: 20px;
    border: 1px solid #d5d8df;
    border-radius: 4px;
  }
}

.meeting-details {
  padding-left: 20px;
  border-left: 1px solid #eee;

  flex: 1;
  overflow: hidden;

  display: flex;
  flex-direction: column;
  justify-content: center;
}

.meeting-details p {
  margin: 0;
  min-width: 0;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.meeting-details .title {
  font-size: larger;
}

.meeting-details a {
  color: #003f62;
  font-family: helvetica;
  text-decoration: none;
}

.meeting-details a:hover {
  text-decoration: underline;
}

.meeting-details a:active {
  color: #003f62;
}

.meeting-details a:visited {
  color: #003f62;
}

.meeting-remove {
  padding-left: 20px;
  align-self: center;
  width: 32px;
  height: 32px;
  background-color: transparent;
  background-image: url("./icons/cancel.svg");
  background-size: 100% 100%;
  border: 0;
  color: black;
  font-size: 0;
  vertical-align: middle;
  cursor: pointer;
  outline: none;
}
